.section02 {
    background-color: $color-alice-blue;
    padding-top: 14rem;
    text-align: center;
    position: relative;
    justify-content: center;
    padding-bottom: 20.4rem;
    .section02__testimonials{
        margin-top: 10rem;
        padding: 4rem;
        display: flex;
        gap: 2rem;
        overflow-x: auto;
        margin-left: 14rem;
        padding-bottom: 0;
        padding-left: 0;
        

        
       .section02__estimonials-card{
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        max-width: 57rem;
        height: 36rem;
        background-color: $color-white;
        padding: 4rem;
        min-width: fit-content;
          .section02__estimonials-card__double-quote{
            width: 4rem;
            height: 7.3rem;
          }
          .section02__estimonials-card__description{
            font-size: 2.265rem;
            line-height: 160%;
            font-weight: 500;
            color: $color-black;

          }
          .section02__testimonials-author{
            margin-top: 3.2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            .section01__testimonials-author-job{
                font-weight: bold;
            }

          }
       }
    }
    .section02__scribble{
        position: absolute;
        top: -7.9rem;
        z-index: 999;
    } 
    .section02__title {
        font-size: 5.93rem;
        color: $color-black;
        letter-spacing: -4%;
        line-height: 120%;
        position: relative;
        .section02-title__sparkle{
            position: absolute;
            top: -6.29rem;
            left: 25rem;
            z-index: 10;
        }
        .section02__description{
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 160%;
            color: $color-davys-grey;
            margin-top: 2rem;

        }
    }
    
}   






@import './section02-media.scss'